<app-header></app-header>
<div style="padding: 30px 50px">
  <h1 style="font-size: 50px; margin: 0;">Product bearbeiten</h1>
  <form>
    <p style="margin-bottom: 30px">Produkt Id:   {{product._id}}</p>
    <div class="form-group">
      <label for="inputName">Produkt Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name" [value]="product.name" (change)="nameChanged($event)">
    </div>
    <div class="form-group">
      <label for="inputDescription">Beschreibung</label>
      <input type="text" class="form-control" id="inputDescription" placeholder="Beschreibung" [value]="product.description" (change)="descriptionChanged($event)">
    </div>
    <div class="form-group">
      <label for="inputPrice">Preis</label>
      <input type="number" class="form-control" id="inputPrice" placeholder="Preis" [value]="product.price" (change)="priceChanged($event)">
    </div>
    <div class="form-group">
      <label for="inputAmount">Lagerbestand</label>
      <input type="number" class="form-control" id="inputAmount" placeholder="Lagerbestand" [value]="product.amount" (change)="amountChanged($event)">
    </div>
    <div class="form-group">
      <label for="inputSupplier">Lieferant Id</label>
      <input type="text" class="form-control" id="inputSupplier" placeholder="Lieferant Id" [value]="product.supplier" (change)="supplierChanged($event)">
      <small id="supplier-help" class="form-text text-muted">Bitte kopiere die Id des Suppliers um Fehler zu vermeiden.</small>
    </div>
<!--    <div class="form-group">-->
<!--      <label for="inputSupplier">Lieferant</label>-->
<!--      <select class="form-control" id="inputSupplier">-->
<!--        <option>{{supplier.name}}</option>-->
<!--        @for (supplier of suppliers; track supplier._id) {-->
<!--          <option>{{supplier.name}}</option>-->
<!--        }-->
<!--      </select>-->
<!--    </div>-->
    <button type="submit" class="btn btn-primary" (click)="updateProduct()" [routerLink]="'/detail/' + product._id">Speichern</button>
  </form>
</div>
