<app-header></app-header>
<div class="content">
  <p>jamie isch eh dumme</p>
  <div *ngIf="data">
    {{ data | json }}
  </div>
  @for (product of products; track product.id) {
    <p>{{product.name}}</p>
  }
</div>
<h1>Create</h1>
<div>
  <h2>Create Product:</h2>
  <input type="text" placeholder="name">
  <input type="text" placeholder="description">
  <input type="number" placeholder="price">
  <input type="text" placeholder="amount">
  <button>Submit</button>
</div>
<div>
  <h2>Create Supplier:</h2>
  <input type="text" placeholder="name">
  <input type="email" placeholder="email">
  <input type="text" placeholder="address">
  <input type="text" placeholder="manager">
  <button>Submit</button>
</div>


